<!DOCTYPE html>
<html>
<head>
    <title>Create Note</title>
</head>

<body>

    <h1>Create Note</h1>

    <form method="POST">

        {% csrf_token %}

        <label>Title</label>
        <br>

        <input
            type="text"
            name="title"
            placeholder="Enter note title"
        >

        <br><br>

        <label>Content</label>
        <br>

        <textarea
            name="content"
            rows="10"
            cols="50"
            placeholder="Enter your note"
        ></textarea>

        <br><br>

        <button type="submit">
            Create Note
        </button>

    </form>

</body>
</html>