<!DOCTYPE html>
<html>
<head>
    <title>Notes Talking App</title>
</head>

<body>
    <h1>My Notes</h1>

    <a href="{% url 'create_note' %}">
        Create Note
    </a>
    
    <hr>
    {% for note in notes%}

        <h2>{{note.title}}</h2>
        <p>{{note.content}}<p/>
        <div>
            <div>
                <a href="{% url 'update_note' note.id %}">
                Edit
                </a>
            </div>
            <div>
                <a href="{% url 'delete_note' note.id %}">
                Delete
                </a>
            </div>
        </div>
        <hr>
    {% endfor %}
</body>
</html>